.container{
    margin-bottom: 100px;
}
.carousel-item{
    padding: 20px 40px;
}
.buy-now-button{
 background-color: black;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.carousel-indicators li{
   
    background-color: darkgray;
    border: none;
    border-radius: 5px;
    height: 8px;
    width: 10px;

}
.carousel-indicators li.active{
    width: 30px;
    height: 8px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(45deg, #F1D21D, #FF9C35);
}

